/* style.css */
/* TOP Project Recipe CSS */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    width: 50%;
    margin: auto;
    text-align: center;
}

.main h1 {
    border-top: 5px solid darkblue;
    border-bottom: 5px solid darkblue;
}

.header {
    text-align: center;
    background-color: darkblue;
    color: #ffd700;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 300px;
    padding: 0 8px 0;
}

.nav-items {
    list-style-type: none;
    padding: 10px;
}

li {
    padding: 10px;
    margin-bottom: 10px;
}

li img {
    width: 100%;
    height: 200px;
    border: 3px solid gold;
}

.nav-list {
    border: 2px dotted yellow;
    padding: 10px;
    background-color: red;
    
}

a {
    color: goldenrod;
}

a:hover {
    background-color: blueviolet;
}
